<div class="container footer-container">
    <div class="footer-group vert subscribe">
        <ng-container *ngIf="!submitSuccess; else subSuccess">
            <h2 class="text-h2">Ready to cook?</h2>
            <p class="text-m">Subscribe for our weekly newsletters!</p>
            <form [formGroup]="subscriptionFormGroup" 
                (ngSubmit)="submitSubscription()" 
                class="form-button subscribe-form">
                <input placeholder="Enter your email" type="email" formControlName="email" name="email">
                <button [disabled]="subscriptionFormGroup.invalid || submitInProgress" id="submitButton" 
                    [ngClass]="" 
                    class="{{submitInProgress ?' button_loading ' :''}} button button_positive">Subscribe
                </button>
            </form>
        </ng-container>
        <ng-template #subSuccess>
            <h2 class="text-h2">Thank you</h2>
            <p class="text-m">We will send you a message!</p>
        </ng-template>
    </div>
    <div class="footer-group social">
        <ul class="nav-group footer__social-group">
            <li>
                <a routerLink="">
                    <img src="assets/icons/twitter.svg" alt="twitter">
                </a>
            </li>
            <li>
                <a routerLink="">
                    <img src="assets/icons/facebook.svg#img" alt="facebook">
                </a>
            </li>
            <li>
                <a href="mailto:example@gmail.com">
                    <img src="assets/icons/mail.svg" alt="mail">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-group logo">
        <a class="logo-container" routerLink="/">
            <img src="assets/icons/logo.svg" alt="recipes logo">
        </a>
    </div>
</div>