@import '../../variables';

.footer-container {
    display: flex;
    align-items: start;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 -4px 26px rgba(0, 0, 0, .12);
    height: 100%;
    position: relative;

    @media screen and (max-width: 768px) {
        align-items: center;
        gap: 20px;
    }
}

.footer-group {
    display: flex;
    gap: 40px;
    max-width: 100%;

    &.vert {
        flex-direction: column;
        gap: 20px;
    }
}
.footer-group:is(.social) {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.footer-group>.nav-group {
    flex-direction: column;
    gap: 30px 20px;
}

.footer-group>.nav-group>li {
    margin: 0;
}
.footer-group>.nav-group>li>a {
    display: flex;
}

.logo-container {
    width: 200px;
    height: 200px;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }


    .footer-group>.nav-group {
        flex-direction: row;
        margin-bottom: 0;
    }    

    .footer-group:is(.logo) {
        order: 1
    }

    .footer-group:is(.subscribe) {
        order: 2
    }

    .footer-group:is(.social) {
        order: 3
    }


}