<div class="container footer-container">
    <div class="footer-group vert subscribe">
        <h2 class="text-h2">Ready to cook?</h2>
        <p class="text-m">Subscribe for our weekly newsletters!</p>
        <form action="" class="form subscribe-form">
            <input placeholder="Enter your email" type="email" name="email">
            <button type="submit" class="button button_positive">Subscribe</button>
        </form>
    </div>
    <div class="footer-group social">
        <ul class="nav-group footer__social-group">
            <li>
                <a routerLink="">
                    <img src="assets/icons/twitter.svg" alt="twitter">
                </a>
            </li>
            <li>
                <a routerLink="">
                    <img src="assets/icons/facebook.svg#img" alt="facebook">
                </a>
            </li>
            <li>
                <a routerLink="">
                    <img src="assets/icons/gmail.svg" alt="gmail">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-group logo">
        <a class="logo-container" routerLink="/">
            <img src="assets/images/example.png" alt="recipes logo">
        </a>
    </div>
</div>