@import '../../variables.scss';

.recipe__header h1 {
    margin-bottom: 100px;
}


.recipe-header__info,
.recipe-header__info-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.recipe-header__info {
    flex-direction: column;
}

.recipe-article>div {
    max-width: 700px;
    margin-bottom: 60px;

    &.recipe__instructions,
    &.recipe__advice {
        max-width: none;
    }
}

.video-container {
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent);
        opacity: 0;
        transition: .3s ease;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15%;
        background: linear-gradient(180deg, rgba(0, 0, 0, .3), transparent);
        opacity: 0;
        transition: .3s ease;
    }

    &:hover {
        &>.video-controls {
            opacity: 1;
        }

        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 1;
        }
    }
}

input[type='range'] {

    cursor: pointer;

    /*
    -webkit-appearance: none;
    cursor: pointer;
    appearance: none;
    background: transparent;

    &::-webkit-slider-runnable-track {
        background: #c7c7c7;
        border-radius: 5px;
        height: 0.5rem;
      }

      &::-moz-range-track {
        background: #fff;
        border-radius: 5px;
        height: 0.5rem;
      }
      &::-ms-track {
        background: #fff;
        border-radius: 5px;
        height: 0.5rem;
      }
      */
    &::-webkit-slider-thumb {
        opacity: 0;
    }

    &::-moz-range-thumb {
        opacity: 0;
    }

    & ::-ms-thumb {
        opacity: 0;
    }
}

.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: .3s ease;
    opacity: 0;
    gap: 1em;
    padding: 0 0.5em 0.5em 0.5em;
    box-sizing: border-box;
    &>input {
        display: none;
    }
    &>.input-volume-bar {
        transition: transform .2s .2s, max-width .2s .2s, opacity .2s .2s;
        width: 150px;
        max-width: 0;
        transform-origin: left;
        transform: scaleX(0);
        opacity: 0;

        &:hover {
            max-width: 200px;
            transform: scaleX(1);
            opacity: 1;
            transition: transform .3s .5s, max-width .5s .5s, opacity .2s .2s;
        }
    }

    &>.input-volume-bar,
    &>.input-video-bar {
        height: 8px;
        background: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        &>.progress-bar {
            height: 8px;
            background: #34742e;
            width: 50%;
        }
    }
    &>.input-video-bar {
        
        flex: 1;
        &>.progress-bar {
            width: 0%;
        }
    }
    &>.input-video-bar {
        flex: 1;
        transition: opacity .3s .2s;
    }

    &>button {
        filter: invert(1);
    }
}

#mute:hover~.input-volume-bar,
.input-volume-bar:hover {
    max-width: 200px;
    transform: scaleX(1);
    opacity: 1;
    transition: transform .3s .5s, max-width .5s .5s, opacity .2s .2s;

    &~.input-video-bar {
        transition: opacity .2s .3s;
        opacity: 0;
    }
}

.recipe__author {
    border: 1px solid $base-color-04;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 20px;
    position: relative;

    & .label {
        font-size: 14px;
        line-height: 1em;
        width: 100%;
        left: 0;
        position: absolute;
        top: -.5em;
        display: flex;
        justify-content: center;

        &::before {
            content: 'Author';
            position: absolute;
            color: $base-color-05;
            line-height: 1em;
            padding: 0 .5em;
            background: #fff;
        }
    }

    &>div {
        flex: 1;
        max-height: 250px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 3px;
            height: 100%;
            background: $base-color-03;

        }

        &::-webkit-scrollbar-thumb {

            background: $text-color;
        }
    }

}

.recipe__nutritions {
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;

    &>h4 {
        margin-bottom: 40px;
    }

    &>table {
        width: 100%;

        & th,
        td {
            width: 25%;
            padding-bottom: 10px;
        }
    }
}

.recipe__ingredients>* {
    margin-bottom: 30px;
}

.ingredients-header,
.control-field {
    display: flex;
    align-items: center;
}

.ingredients-header {
    justify-content: space-between;
    flex-wrap: wrap;
}

.control-field>* {
    margin-right: 10px;
}

.control-field {
    margin-right: -10px;
}

.recipe__advice {
    border: 1px solid $base-color-04;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    position: relative;

    font-style: italic;

    & .label {
        font-size: 14px;
        line-height: 1em;
        width: 100%;
        left: 0;
        position: absolute;
        top: -.5em;
        display: flex;
        justify-content: center;

        &::before {
            content: 'Advice';
            position: absolute;
            color: $base-color-05;
            line-height: 1em;
            padding: 0 .5em;
            background: #fff;
        }
    }
}

.instructions__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &>ul {
        display: flex;
        align-items: center;
        margin-right: -1em;

    }

    &>ul>li {
        display: flex;
        align-items: center;
        margin-right: 1em;

        &#print-button {
            cursor: pointer;
        }

        >* {

            margin-right: .5em;
        }
    }
}

.instructions-list {
    list-style-type: none;
    counter-reset: num;
    position: relative;
    padding: 15px 0 5px 0;
    font-size: 16px;

    &>.group {
        display: flex;
        gap: 60px;

        &:is(.indent) {
            margin-left: 60px;
        }

        >* {
            padding-bottom: 20px;
        }

        >.image-div {
            flex: 1 1 35%;
            height: 200px;
        }

        &>li {
            position: relative;
            flex: 1 1 65%;
            margin: 0;
            line-height: 1.4em;

            &::after {
                content: counter(num);
                counter-increment: num;
                display: inline-block;
                position: absolute;
                top: 0;
                left: -45px;
                width: 28px;
                height: 28px;
                line-height: 28px;
                background: transparent;
                color: $text-color;
                text-align: center;
                font-size: 18px;
                border-radius: 50%;
                border: 2px solid $text-color;
            }

            &::before {
                content: '';
                position: absolute;
                top: 30px;
                bottom: 0px;
                left: -30px;
                width: 1px;
                border-left: 2px solid $text-color;

            }


        }

        &:last-child {
            >li::before {
                content: none;
            }
        }
    }
}

.footer__header {
    margin-bottom: 20px;
}

.share-links-list {
    display: flex;
    align-items: center;
    gap: 1em;

    >li>button>a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.main-container__lower-footer {
    margin-top: 60px;
}

.reviews-container {
    max-width: 700px;
}

.reviews-container__header,
.review-card__header {
    display: flex;
    align-items: center;
}

.reviews-container__header {
    justify-content: space-between;
    margin-bottom: 40px;
}

.review-card {
    margin-bottom: 40px;
}

.review-card__header {
    gap: 20px;
    margin-bottom: 20px;

    >div:nth-child(2) {
        >span:first-child {
            font-size: 18px;
        }

        >span:last-child {
            font-size: 12px;
        }
    }
}

.review-card__header-rating {
    display: flex;
    flex: 1;
    justify-content: end;
    user-select: none;

    >img {
        -webkit-user-drag: none;
    }
}

.review-card__img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background: rgb(196 185 62);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    user-select: none;
}

.reviews-container__footer {
    >button {
        width: 100%;
    }
}

.empty-container {
    margin-bottom: 40px;
}

.review-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000a6;
    transition: .3s ease;
    opacity: 1;
    z-index: 5;

    animation: fade-in .3s forwards;
}

.review-form-control {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 6;
}

@media screen and (max-width: 768px) {
    .recipe__author {
        flex-direction: column;
        align-items: center;
    }

    .recipe__nutritions {
        padding: 0;
    }

    .instructions-list {
        &>.group {

            >.image-div {
                flex: 1 1 50%;
            }

            &>li {
                position: relative;
                flex: 1 1 50%;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .recipe__header h1 {
        margin-bottom: 0;
    }

    .recipe-header__info,
    .recipe-header__info-group {
        gap: 20px 10px;
    }
}