@import '../../variables';

.category-nav {
    max-width: 600px;

    & ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        & .button-category {
            padding: 7px 10px;
            border-width: 1px;
            border-radius: 5px;
            &:hover {
                span {
                    color: inherit;
                }   
            }
        }
    }
}

.category-skeleton {
    &__card {
        width: 120px;
        height: 34px;
        background-color: #c6c6c6;
        border-radius: 5px;
    }
}

.header-desc {
    position: relative;
    padding-bottom: 40px;

    & span {

        &::before {
            content: '';
            width: 100%;
            bottom: 10px;
            left: calc(50% - 50px);
            position: absolute;
            max-width: 100px;
            border-bottom: 2px solid $text-color;
        }

        &::after {
            content: '';
            width: 100%;
            bottom: 0;
            left: calc(50% - 40px);
            position: absolute;
            max-width: 80px;
            border-bottom: 2px solid $text-color;
        }
    }
}
.control-group {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.search {
    display: flex;
    gap: 20px;
}
.search-form {
    flex: 1;
    height: 30px;
    justify-content: space-between;
    border-radius: 5px;
    & > input {
        flex: 1;
    }
}
.reset-form {
    display: flex;
    align-items: center;
    background: rgb(246 223 152);
    border-radius: 5px;
    & > label {
        padding: 0 10px;
        }
}
.button-search {
    display: flex;
    align-items: center;
}

#recipes>* {
    margin-bottom: 40px;
}

.recipe-card {
    display: flex;
    gap: 40px;

    .recipe-info a {
        transition: .3s ease;
        &:hover {
            opacity: .5;
        }
    }
}

.recipe-image {
    width: 200px;
    height: 200px;
}

.recipe-info {
    margin-bottom: -10px;
}

.recipe-info>* {
    margin-bottom: 10px;
}

.recipe-extra {
    display: flex;
    align-items: center;
    margin-right: -10px;

    position: relative;
}

.recipe-extra>* {
    margin-right: 10px;
}

.recipe-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ingredients-label {
    border-right: 1px solid $base-color-04;
    cursor: default;

    &>* {
        margin-right: 10px;
    }
}

.ingredients-container {
    position: absolute;
    padding: 20px 15px;
    width: 100%;
    z-index: 2;
    top: 1.5em;
    border: 1px solid $base-color-04;
    background: $base-color-01;
    padding-bottom: 0;
}

.ingredients-container>* {
    margin-bottom: 30px;
}

.ingredients-container__header,
.control-field {
    display: flex;
    align-items: center;
}

.ingredients-container__header {
    justify-content: space-between;
}

.control-field>* {
    margin-right: 10px;
}

.control-field {
    margin-right: -10px;
}

.empty-card {
    margin-top: 140px;
    text-align: center;
}

.recipe-skeleton {
    > * {
        margin-bottom: 40px;
    }
    &__card {
        display: flex;
        gap: 40px;

        &-g-1 {
            width: 200px;
            height: 200px;
        }

        &-g-2 {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-e-1 {
            font-size: 16px;
            height: 1.25em;
            width: 200px;
        }

        &-e-2 {
            font-size: 28px;
            height: 1.25em;
            width: 300px;
        }

        &-e-3 {
            width: 400px;
            flex: 1;
        }
    }

    .sk-ph {
        background-color: #c6c6c6;
        border-radius: 5px;
    }
}
@media screen and (max-width: 768px) {
    .recipe-card {
        text-align: center;
        flex-direction: column;
        align-items: center;

        & .recipe-info>nav>ul {
            justify-content: center;
        }

        & .recipe-extra,
        .recipe-group {
            flex-wrap: wrap;
            row-gap: 10px;
            justify-content: center;
        }
    }
    #recipes {
        
        & > * {
            position: relative;
            padding-bottom: 40px;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                border-bottom: 1px solid $base-color-04;
            }
        }
    }
}