/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@import 'variables';

html,
body,
app-root {
    height: 100%;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

body,
p,
span,
a,
button,
h1,
h2,
h3,
h4,
h5,
input,
label,
select,
table,
th,
td,
textarea,
option,
ul,
li {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    outline: none;
    text-decoration: none;
    margin: 0;
}

textarea {
    max-width: 100%;
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    padding: 7px 10px;
    min-height: 50px;
}

input,
button {
    border: none;
    outline: none;
}

input {
    color: $text-color;
}

input::placeholder {
    color: #A5A5A5;
}

::file-selector-button {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: 1px solid $text-color;
    outline-offset: -1px;
    padding: 7px 10px;
    transition: .3s ease;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 1em;

    @media (hover:hover) {
        &:hover {
            background: #141414;
            color: #fff;
            outline-color: #141414;
        }

        &:active {
            background: #2e2e2e;
            color: #fff;
            outline-color: #2e2e2e;
        }
    }

}

body {
    background: $base-color-03;
}

app-root {
    display: flex;
    flex-direction: column;
}

.container {

    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    background: $base-color-01;

    @media screen and (max-width: 768px) {
        padding: 0 24px;
    }
}

.main-container {
    max-width: 1000px;
    margin-left: auto;
    padding-top: 40px;
    margin-right: auto;
    padding-bottom: 100px;
    height: 100%;

    >* {
        margin-bottom: 40px;
    }
}

.main-container__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 24px;

    >div {
        max-width: 600px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .main-container {

        padding: 40px 24px 100px 24px;

    }
}

@media screen and (max-width: 365px) {
    .main-container {

        padding: 24px 24px 50px 24px;

    }
}

nav>ul>li>a {
    cursor: pointer;
}

ul:is(.nav-group),
ul:is(.category) {
    display: flex;
}

ul:is(.nav-group)>li {
    margin-right: 40px;
}

ul:is(.nav-group)>li>a {
    font-weight: 500;
    cursor: pointer;
    color: $text-color;
    transition: all .3s ease;

    @media (hover:hover) {
        &:hover {
            color: $nav-text-hover;
        }

        &:active {
            color: $nav-text-active;
        }
    }
}

ul:is(.category)>li {
    margin-right: 10px;

    &:not(:last-child)::after {
        margin-left: 10px;
        content: '•';
        color: $primary-color;
    }
}

ul:is(.category)>li>a {
    cursor: pointer;
    text-transform: capitalize;
}

ul:is(.ingredients-list)>li {
    display: flex;
    align-items: center;
    margin-right: -0.5em;
    margin-bottom: 10px;

    &>span {
        margin-right: .5em;
    }

    &>span:nth-child(2) {
        flex: 1;
        border-bottom: 1px solid $base-color-04;
        height: 1em;
    }
}

.button {
    border: 1px solid #141414;
    background: transparent;
    font-size: 16px;
    border-radius: 25px;
    padding: 14px 20px;
    transition: .3s ease;
    cursor: pointer;
    user-select: none;

    span {
        transition: color .3s ease;
    }
    
    &[disabled] {
        pointer-events: none;
        color: #5d5d5d;
        border-color: #5d5d5d;
    }

    @media (hover:hover) {
        &:hover {
            background: #141414;
            color: #fff;
            border-color: #141414;

            span {
                color: #fff;
            }

            &[disabled] {
                pointer-events: none;
                color: #5d5d5d;
                border-color: #5d5d5d;

                span {
                    color: #5d5d5d;
                }
            }
        }

        &:active {
            background: #2e2e2e;
            color: #fff;
            border-color: #2e2e2e;
            
            &[disabled] {
                pointer-events: none;
                color: #5d5d5d;
                border-color: #5d5d5d;
            }
        }
    }

    &_positive-outline {
        border-color: $primary-color;

        &[disabled] {
            background: transparent;
            color: #5d5d5d;
            border-color: $primary-color;
        }

        @media (hover:hover) {
            &:hover {
                background: $primary-color;
                border-color: $primary-color;
                color: #fff;

                &[disabled] {
                    background: transparent;
                    color: #5d5d5d;
                    border-color: $primary-color;
                }
            }

            &:active {
                background: $primary-color-outline-active;
                border-color: $primary-color-outline-active;
                color: #fff;

                &[disabled] {
                    background: transparent;
                    color: #5d5d5d;
                    border-color: $primary-color;
                }
            }
        }
    }

    &_positive {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;

        &[disabled] {
            background-color: $primary-color-disabled;
            color: #fff;
            border-color: $primary-color-disabled;
        }

        @media (hover:hover) {
            &:hover {
                background-color: $primary-color-hover;
                border-color: $primary-color-hover;
                
                &[disabled] {
                    background-color: $primary-color-disabled;
                    color: #fff;
                    border-color: $primary-color-disabled;
                }
            }

            &:active {
                background-color: $primary-color-active;
                border-color: $primary-color-active;

                &[disabled] {
                    background-color: $primary-color-disabled;
                    color: #fff;
                    border-color: $primary-color-disabled;
                }
            }
        }
    }

    &_s {
        padding: 5px 10px;
    }

    &_icon {
        display: flex;
        align-items: center;
        gap: 0.5em;
        transition: .3s ease;

        & img {
            transition: filter .3s ease;
        }

        & img:is(.icon) {
            transition: transform, filter .3s ease;}

        @media (hover:hover) {
            &:hover {
                & img {
                    filter: invert(1);
                }
            }

            &:active {
                & img {
                    filter: invert(1);
                }
            }
        }
    }
    &_loading {
        position: relative;
        color: transparent;
        cursor: pointer;

        &[disabled] {
            color: transparent;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: url('assets/icons/loading_v1.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 8px;
        }

        &.button_positive {
            &::before {
                background-image: url('assets/icons/loading_v2.svg');
            }
        }

        &.button_positive-outline {
            &::before {
                background-image: url('assets/icons/loading_v3.svg');
            }
        }        
    }
}

.icon-button {
    background: transparent;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.icon-button_bordered {
    border: 2px solid $text-color;
    border-radius: 50%;

    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: .3s ease;

    @media (hover:hover) {
        &:hover {
            background: #141414;
            color: #fff;

            & img {
                filter: invert(1);
                transition: .3s ease;
            }
        }

        &:active {
            background: #2e2e2e;
            border-color: #2e2e2e;
            color: #fff;

            & img {
                filter: invert(1);
                transition: .3s ease;
            }
        }
    }
}


.button-absolute {
    background: rgb(255 255 255);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    justify-content: center;
}

img:is(.icon) {
    height: 1em;
    transition: transform .2s ease;
}

img:is(.icon_s) {
    height: .5em;
    transition: transform .2s ease;
}

img:is(.icon_m) {
    height: .8em;
    transition: transform .2 ease;
}

img:is(.icon_l) {
    height: 1.5em;
    transition: transform .2s ease;
}

.form-button {
    display: flex;
    border: 2px solid $text-color;
    border-radius: 30px;
    gap: 10px;
    padding: 5px 5px 5px 20px;

    & input {
        background: transparent;

        &:focus {
            background: transparent;
        }
    }

    & input:-webkit-autofill,
    & input:-webkit-autofill:hover, 
    & input:-webkit-autofill:focus, 
    & input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    &.subscribe-form {
        & input {
            width: 100%;
        }
    }
}


.recipe-stats {
    display: flex;
    gap: 20px;
    align-items: center;
}

.recipe-stats>li {

    display: flex;
    align-items: center;
    gap: .5em;
}



@media screen and (max-width: 365px) {
    .form-button {
        flex-wrap: wrap;
        padding: 5px;

        & input {
            margin: 0;
        }

        & button {
            flex: 1;
        }
        
        &.subscribe-form {
            padding: 0;
            border-radius: 0;
            border: none;

            & input {
                flex: 100%;
                border-radius: 0;
                padding-bottom: 4px;
                border-bottom: 1px solid #5d5d5d;

                &:focus {
                    
                    border-bottom: 1px solid #141414;
                }
            }
    
            & button {
                flex: 100%;
            }
            
        }
    }
}

.text-h1_bold {
    font-size: 48px;
    font-weight: 700;
}

.text-h1 {
    font-size: 48px;
    font-weight: 400;
}

.text-h2_bold {
    font-size: 32px;
    font-weight: 700;
}

.text-h2 {
    font-size: 32px;
    font-weight: 400;
}

.text-h3_bold {
    font-size: 28px;
    font-weight: 700;
}

.text-h3 {
    font-size: 28px;
    font-weight: 400;
}

.text-h4 {
    font-size: 24px;
    font-weight: 500;
}

.text-h4_light {
    font-weight: 300;
}

.text-m_m {
    font-size: 16px;
    font-weight: 500;
}

.text-m {
    font-size: 16px;
    font-weight: 400;
}

.text-m_l {
    font-size: 16px;
    font-weight: 300;
}

.text-s {
    font-size: 14px;
    font-weight: 400;
}

.text-s_l {
    font-size: 14px;
    font-weight: 300;
}

.text-grey {
    color: $text-color-grey;
}

.text_prim-color {
    color: $primary-color;
}

.reverse {
    transform: rotate(180deg);
}

.paggination {
    display: flex;
    align-items: center;
    justify-content: center;

    &>nav>ul {
        display: table;
        border-collapse: separate;
        border-spacing: 1em 0;

        &>li {
            display: table-cell;
            margin-right: 1em;
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            vertical-align: middle;
            border: 1px solid $text-color;
            border-radius: 50%;
            cursor: pointer;
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            transition: .3s ease;

            &.active {
                color: #fff;
                background-color: $text-color;
                pointer-events: none;
            }
            
            @media (hover:hover) {
                &:hover {
                    color: #fff;
                    background-color: #434343;
                    border-color: #434343;
                }
            }
        }
    }

    &>button {
        height: 1em;

        &#prev {
            >img {
                transform: rotate(90deg);
            }
        }

        &#next {
            >img {
                transform: rotate(-90deg);
            }
        }

        >img {
            margin: 0;
        }
    }
}

.image-wrapper {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background: rgba(0, 0, 0, .5);
    animation: fade-in .3s forwards;
}

.hidden {
    opacity: 0;
    max-height: 0;
    max-width: 0;
    transform: scaleX(0);
    transition: transform .5s .5s ease;
}

.profile {
    &>.profile-image {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        border-radius: 50%;

        &>img {
            border-radius: 50%;
        }
    }

    & h2 {
        width: 200px;
        text-align: center;
    }
}

.galery {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &>.galery-active {
        height: 450px;

        @media (max-width: 768px) {
            max-height: 360px;
        }
        @media (max-width: 420px) {
            max-height: 280px;
        }
    }

    &>.galery-group {
        display: flex;
        gap: 10px;
        max-height: 150px;
        width: 100%;

        &>div {
            width: 100%;
            height: 150px;
            max-width: 50%;

            &>.route-to-galery-link {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.4);
                }

                &::after {
                    content: "Other media";
                    position: absolute;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: calc(10% + .5em);
                    width: 100%;
                    height: 80%;
                    color: #000;
                    font-weight: 600;
                    text-align: center;
                    //background-image: url(../../assets/icons/picture.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 20%;
                    background-size: 20%;

                    filter: invert(1);
                }
            }
        }
    }

    &>.galery-group_2h {
        max-height: 310px;
        flex-wrap: wrap;

        &>div {
            flex: 1 1 calc(25% - 10px);
            height: 150px;
        }
    }
}


.lazyload {
    opacity: 0;
}
*:has( > .lazyload) {
    position: relative;
    overflow: hidden;
}
.lazyload-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0.25turn, #cbcccc,  #cbcccc, #e3e3e3, #cbcccc, #cbcccc);
	background-size: 500% 500%;
    z-index: 2;
    animation: hintloading 1s ease-in-out 0s infinite;
    -webkit-animation: hintloading 1s ease-in-out 0s infinite;
    
}
@keyframes hintloading
{
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes hintloading
{
  0% {
    opacity: 0.5;
  }
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@media screen and (max-width: 320px) {
    .text-h1, .text-h1_bold {
        font-size: 32px;
    }
    .text-h2, .text-h2_bold {
        font-size: 28px;
    }
    .text-h3, .text-h3_bold {
        font-size: 24px;
    }
    .text-h4, .text-h4_light {
        font-size: 20px;
    }
}