$primary-color: #34742E;
$primary-color-outline-hover: #1fa61f1f;
$primary-color-outline-active: #6ce76c1f;
$primary-color-hover: #1d4e1d;
$primary-color-active: #247424;
$text-color: #141414;
$text-color-grey: #9c9c9c;
$nav-text-hover: #3d3d3d;
$nav-text-active: #707070;
$base-color-01: #fff;
$base-color-02: #282828;
$base-color-03: #ededed;
$base-color-04: #c2c2c2;
$base-color-05: #6c6b6b;
