$primary-color: #34742E;
$primary-color-outline-hover: #1fa61f1f;
$primary-color-outline-active: #45953e;
$primary-color-hover: #1d4e1d;
$primary-color-active: #247424;
$primary-color-disabled: #8da78c;
$text-color: #141414;
$text-color-grey: #9c9c9c;
$form-color-invalid: #a91717;
$nav-text-hover: #14141480;
$nav-text-active: #141414bf;
$base-color-01: #fff;
$base-color-02: #282828;
$base-color-03: #ededed;
$base-color-04: #c2c2c2;
$base-color-05: #6c6b6b;
